In [155]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder,StandardScaler,MinMaxScaler,LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression

In [156]:
df = pd.read_csv('dataset/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [157]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [158]:
# df.duplicated().sum()

In [159]:
# df.drop_duplicates()

In [160]:
x = df.iloc[:,0:3]

In [161]:
x

     sepal_length  sepal_width  petal_length
0             5.1          3.5           1.4
1             4.9          3.0           1.4
2             4.7          3.2           1.3
3             4.6          3.1           1.5
4             5.0          3.6           1.4
..            ...          ...           ...
145           6.7          3.0           5.2
146           6.3          2.5           5.0
147           6.5          3.0           5.2
148           6.2          3.4           5.4
149           5.9          3.0           5.1

[150 rows x 3 columns]

In [162]:
y = df.iloc[:,-1]

In [163]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [164]:
x_train,x_test,y_train,y_test = train_test_split(x , y , train_size=0.8 , random_state=0)

In [165]:
x_train

     sepal_length  sepal_width  petal_length
137           6.4          3.1           5.5
84            5.4          3.0           4.5
27            5.2          3.5           1.5
127           6.1          3.0           4.9
132           6.4          2.8           5.6
..            ...          ...           ...
9             4.9          3.1           1.5
103           6.3          2.9           5.6
67            5.8          2.7           4.1
117           7.7          3.8           6.7
47            4.6          3.2           1.4

[120 rows x 3 columns]

In [166]:
x_test

     sepal_length  sepal_width  petal_length
114           5.8          2.8           5.1
62            6.0          2.2           4.0
33            5.5          4.2           1.4
107           7.3          2.9           6.3
7             5.0          3.4           1.5
100           6.3          3.3           6.0
40            5.0          3.5           1.3
86            6.7          3.1           4.7
76            6.8          2.8           4.8
71            6.1          2.8           4.0
134           6.1          2.6           5.6
51            6.4          3.2           4.5
73            6.1          2.8           4.7
54            6.5          2.8           4.6
63            6.1          2.9           4.7
37            4.9          3.6           1.4
78            6.0          2.9           4.5
90            5.5          2.6           4.4
45            4.8          3.0           1.4
16            5.4          3.9           1.3
121           5.6          2.8           4.9
66            5.6          3.0           4.5
24            4.8          3.4           1.9
8             4.4          2.9           1.4
126           6.2          2.8           4.8
22            4.6          3.6           1.0
44            5.1          3.8           1.9
97            6.2          2.9           4.3
93            5.0          2.3           3.3
26            5.0          3.4           1.6

In [167]:
y_train

137     virginica
84     versicolor
27         setosa
127     virginica
132     virginica
          ...
9          setosa
103     virginica
67     versicolor
117     virginica
47         setosa
Name: species, Length: 120, dtype: object

In [168]:
y_test

114     virginica
62     versicolor
33         setosa
107     virginica
7          setosa
100     virginica
40         setosa
86     versicolor
76     versicolor
71     versicolor
134     virginica
51     versicolor
73     versicolor
54     versicolor
63     versicolor
37         setosa
78     versicolor
90     versicolor
45         setosa
16         setosa
121     virginica
66     versicolor
24         setosa
8          setosa
126     virginica
22         setosa
44         setosa
97     versicolor
93     versicolor
26         setosa
Name: species, dtype: object

In [169]:
le = LabelEncoder()
y_tr = le.fit_transform(y_train)

In [170]:
y_te = le.fit_transform(y_test)

In [171]:
log = LogisticRegression()

In [172]:
log.fit(x_train,y_tr)

C:\Users\CS-L2-PC09\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [173]:
y_pred = log.predict(x_test)
y_pred

array([2, 1, 0, 2, 0, 2, 0, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1, 0, 0, 2, 1,
       0, 0, 1, 0, 0, 1, 1, 0])

In [174]:
from sklearn.metrics import accuracy_score , confusion_matrix

In [175]:
print("Accuracy score =",accuracy_score(y_te,y_pred))

Accuracy score = 0.9666666666666667

In [176]:
pd.DataFrame(confusion_matrix(y_te , y_pred)) # if all the values are comes along the diagonal then accuracy is 100%

    0   1  2
0  11   0  0
1   0  13  0
2   0   1  5

In [177]:
result = pd.DataFrame()
result['Actual Label'] = y_test
result['Decision Tree Prediction'] = y_pred

In [178]:
result

    Actual Label  Decision Tree Prediction
114    virginica                         2
62    versicolor                         1
33        setosa                         0
107    virginica                         2
7         setosa                         0
100    virginica                         2
40        setosa                         0
86    versicolor                         1
76    versicolor                         1
71    versicolor                         1
134    virginica                         2
51    versicolor                         1
73    versicolor                         1
54    versicolor                         1
63    versicolor                         1
37        setosa                         0
78    versicolor                         1
90    versicolor                         1
45        setosa                         0
16        setosa                         0
121    virginica                         2
66    versicolor                         1
24        setosa                         0
8         setosa                         0
126    virginica                         1
22        setosa                         0
44        setosa                         0
97    versicolor                         1
93    versicolor                         1
26        setosa                         0

In [188]:
from sklearn.metrics import precision_score
precision_score(y_te, y_pred, average='weighted')

0.9690476190476189

In [189]:
from sklearn.metrics import recall_score
recall_score(y_te, y_pred, average='micro')

0.9666666666666667

In [190]:
from sklearn.metrics import f1_score
f1_score(y_te, y_pred, average='micro')

0.9666666666666667