In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('dataset/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [60]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [61]:
x = df.iloc[:,0:4]
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [62]:
y = df.iloc[:,-1]
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [63]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x , y , train_size=0.8 , random_state=2)

In [64]:
x_train

     sepal_length  sepal_width  petal_length  petal_width
126           6.2          2.8           4.8          1.8
23            5.1          3.3           1.7          0.5
64            5.6          2.9           3.6          1.3
117           7.7          3.8           6.7          2.2
84            5.4          3.0           4.5          1.5
..            ...          ...           ...          ...
75            6.6          3.0           4.4          1.4
43            5.0          3.5           1.6          0.6
22            4.6          3.6           1.0          0.2
72            6.3          2.5           4.9          1.5
15            5.7          4.4           1.5          0.4

[120 rows x 4 columns]

In [65]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
6             4.6          3.4           1.4          0.3
3             4.6          3.1           1.5          0.2
113           5.7          2.5           5.0          2.0
12            4.8          3.0           1.4          0.1
24            4.8          3.4           1.9          0.2
129           7.2          3.0           5.8          1.6
25            5.0          3.0           1.6          0.2
108           6.7          2.5           5.8          1.8
128           6.4          2.8           5.6          2.1
45            4.8          3.0           1.4          0.3
48            5.3          3.7           1.5          0.2
42            4.4          3.2           1.3          0.2
35            5.0          3.2           1.2          0.2
5             5.4          3.9           1.7          0.4
85            6.0          3.4           4.5          1.6
54            6.5          2.8           4.6          1.5
41            4.5          2.3           1.3          0.3
96            5.7          2.9           4.2          1.3
144           6.7          3.3           5.7          2.5
89            5.5          2.5           4.0          1.3
77            6.7          3.0           5.0          1.7
74            6.4          2.9           4.3          1.3
115           6.4          3.2           5.3          2.3
94            5.6          2.7           4.2          1.3
87            6.3          2.3           4.4          1.3
29            4.7          3.2           1.6          0.2
2             4.7          3.2           1.3          0.2
127           6.1          3.0           4.9          1.8
44            5.1          3.8           1.9          0.4
125           7.2          3.2           6.0          1.8

In [66]:
y_train

126     virginica
23         setosa
64     versicolor
117     virginica
84     versicolor
          ...
75     versicolor
43         setosa
22         setosa
72     versicolor
15         setosa
Name: species, Length: 120, dtype: object

In [67]:
y_test

6          setosa
3          setosa
113     virginica
12         setosa
24         setosa
129     virginica
25         setosa
108     virginica
128     virginica
45         setosa
48         setosa
42         setosa
35         setosa
5          setosa
85     versicolor
54     versicolor
41         setosa
96     versicolor
144     virginica
89     versicolor
77     versicolor
74     versicolor
115     virginica
94     versicolor
87     versicolor
29         setosa
2          setosa
127     virginica
44         setosa
125     virginica
Name: species, dtype: object

In [68]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_tr = le.fit_transform(y_train)
y_te = le.fit_transform(y_test)

In [69]:
y_tr

array([2, 0, 1, 2, 1, 0, 2, 1, 1, 2, 1, 1, 2, 1, 0, 2, 0, 1, 0, 0, 0, 2,
       2, 2, 0, 2, 2, 2, 2, 0, 0, 2, 1, 1, 2, 2, 1, 0, 1, 0, 2, 1, 1, 0,
       1, 1, 1, 2, 0, 1, 0, 1, 2, 0, 1, 0, 0, 0, 2, 2, 0, 0, 2, 2, 1, 2,
       1, 1, 2, 0, 2, 2, 2, 0, 2, 0, 0, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 2,
       1, 2, 1, 0, 1, 1, 1, 1, 2, 1, 0, 0, 2, 1, 2, 0, 2, 0, 2, 2, 0, 1,
       0, 2, 1, 0, 2, 1, 0, 0, 1, 0])

In [70]:
y_te

array([0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 0, 0, 0, 1, 1, 0, 1, 2, 1, 1, 1,
       2, 1, 1, 0, 0, 2, 0, 2])

In [71]:
from sklearn.svm import SVC 
classifier = SVC(kernel='linear', random_state=0)  
classifier.fit(x_train , y_tr)

SVC(kernel='linear', random_state=0)

In [72]:
y_pred = classifier.predict(x_test)
y_pred

array([0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 0, 0, 0, 0, 1, 1, 0, 1, 2, 1, 1, 1,
       2, 1, 1, 0, 0, 2, 0, 2])

In [73]:
from sklearn.metrics import accuracy_score , confusion_matrix
print("Accuracy score =",accuracy_score(y_te,y_pred))

Accuracy score = 1.0

In [74]:
pd.DataFrame(confusion_matrix(y_te , y_pred)) # if all the values are comes along the diagonal then accuracy is 100%

    0  1  2
0  14  0  0
1   0  8  0
2   0  0  8

In [75]:
result = pd.DataFrame()
result['Actual Label'] = y_test
result['Decision Tree Prediction'] = y_pred

In [76]:
result

    Actual Label  Decision Tree Prediction
6         setosa                         0
3         setosa                         0
113    virginica                         2
12        setosa                         0
24        setosa                         0
129    virginica                         2
25        setosa                         0
108    virginica                         2
128    virginica                         2
45        setosa                         0
48        setosa                         0
42        setosa                         0
35        setosa                         0
5         setosa                         0
85    versicolor                         1
54    versicolor                         1
41        setosa                         0
96    versicolor                         1
144    virginica                         2
89    versicolor                         1
77    versicolor                         1
74    versicolor                         1
115    virginica                         2
94    versicolor                         1
87    versicolor                         1
29        setosa                         0
2         setosa                         0
127    virginica                         2
44        setosa                         0
125    virginica                         2

In [77]:
from sklearn.metrics import precision_score
precision_score(y_te, y_pred, average='weighted')

1.0

In [81]:
from sklearn.metrics import recall_score
recall_score(y_te, y_pred, average='micro')

1.0

In [82]:
from sklearn.metrics import f1_score
f1_score(y_te, y_pred, average='micro')

1.0